<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <link href="crud_veiculo.css" rel="stylesheet" type="text/css">
  <title>CRUD para a Tabela de Cursos</title>
</head>
<body>
  <h1>Cadastro de Cursos - CRUD</h1>
  <hr/>
  <ul>
      <li><a href= "/formincluir">  C - CREATE  (Incluir Cursos)   </a></li>
      <li><a href="/parconsultar">  R - READ    (Consultar Cursos) </a></li>
      <li><a href="/paralterar">    U - UPDATE  (Alterar Cursos)   </a></li>
      <li><a href="/parexcluir">    D - DELETE  (Excluir Cursos)   </a></li>
  </ul>
</body>
</html>
